PORT=3000
AUTH_ONLY_MODE=0

# MongoDB Atlas connection (required)
MONGODB_URI="mongodb+srv://Akhil:Welcome2@cluster0.yosm6gj.mongodb.net/";

# Redis (required for job queue unless AUTH_ONLY_MODE=1)
REDIS_HOST=localhost
REDIS_PORT=6379

# Debugging
OTP_DEBUG_MODE=1

# Email: SendGrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=noreply@ekart.app

# Email: Gmail SMTP
GMAIL_USER=
GMAIL_APP_PASSWORD="avcdtwftulbhwclp"
GMAIL_FROM_EMAIL="routex44@gmail.com"

# SMS: Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

# Integrations: Google Maps & OpenWeather
GOOGLE_MAPS_API_KEY=
OPENWEATHER_API_KEY=
